*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Oswald', sans-serif;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.login-section{
	width: 650px;
	margin: 10% auto;
	background-color:#000000ba;
}
.login-section img{
	margin: 0px auto;
	display: block;
}
.login-section h2{
	text-align:center;
	margin:0px 0px 10px 0px;
	color: white;
	text-transform: uppercase;
}
.login-section h5{
	text-align:center;
	margin:0px 0px 10px 0px;
	color: white;
}
.form-control{
	width: 80%;
	height: 35px;
	padding: 5px;
	margin: 10px 10px 10px 53px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #ffffffe3;
	border: none;
}
.submit-btn{
	display: block;
	margin: 0px auto;
	padding: 5px 50px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	background-color: #E1306C;
	border: none;
	color: white;
}
.submit-btn:hover{
	box-shadow: 0px 1px 1px 2px white;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
.fp-tag{
	font-family: sans-serif;
	color: white;
	font-size: 12px;
	margin-left: 55px;
	text-decoration: none;
}
.liw-tag{
	font-family: sans-serif;
	color: white;
	font-size: 12px;
	margin: 10px 0px 10px 285px;
	text-decoration: none;
}
.second{
	width: 650px;
	margin: 15px 0px;
}

.submit-btn-google{
	width: 250px;
	padding: 5px 50px;
	margin: 0px 20px 0px 80px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #34A853  ;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 14px;
}
.submit-btn-google:hover{
	box-shadow: 0px 1px 1px 2px white;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}
.submit-btn-fb{
	width: 250px;
	padding: 5px 50px;
	font-family: sans-serif;
	font-weight: bold;
	background-color:#3498DB;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 14px;
}
.submit-btn-fb:hover{
	box-shadow: 0px 1px 1px 2px white;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.dp-tag{
	font-family: sans-serif;
	color: white;
	font-size: 12px;
	margin: 0px 0px 0px 230px;
	text-decoration: none;
}

.submit-btn-already{
	width: 200px;
	padding: 5px 50px;
	margin: 0px 20px 0px 80px;
	font-family: sans-serif;
	font-weight: bold;
	background-color:#EAB436;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 14px;
}
.submit-btn-already:hover{
	box-shadow: 0px 1px 1px 2px white;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}
.submit-btn-newacc{
	width: 200px;
	padding: 5px 30px;
	margin: 0px 0px 0px 0px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #34A853  ;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 14px;
}
.submit-btn-newacc:hover{
	box-shadow: 0px 1px 1px 2px white;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}
.lable-control{
	width: 80%;
	height: 35px;
	padding: 5px;
	margin: 10px 10px 10px 53px;
	font-family: 'Oswald', sans-serif;
	border: none;
	color: white;
}














